@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 140 6% 15%;
  --card: 140 25% 97%;
  --card-foreground: 140 6% 15%;
  --popover: 0 0% 100%;
  --popover-foreground: 140 6% 15%;
  --primary: 142.1 70.6% 45.3%;
  --primary-foreground: 137.5 39.1% 92%;
  --secondary: 142 30% 95%;
  --secondary-foreground: 144 6% 20%;
  --muted: 142 35% 93%;
  --muted-foreground: 142 7% 35%;
  --accent: 142.1 65% 90%;
  --accent-foreground: 142.1 40% 25%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;
  --border: 140 20% 90%;
  --input: 140 20% 90%;
  --ring: 142.1 70.6% 45.3%;
  --radius: 0.75rem;
}

.dark {
  --background: 140 25% 6%;
  --foreground: 0 0% 98%;
  --card: 140 24% 10%;
  --card-foreground: 0 0% 98%;
  --popover: 140 24% 10%;
  --popover-foreground: 0 0% 98%;
  --primary: 142.1 70.6% 45.3%;
  --primary-foreground: 137.5 39.1% 92%;
  --secondary: 140 16% 18%;
  --secondary-foreground: 0 0% 98%;
  --muted: 140 16% 18%;
  --muted-foreground: 141 8% 70%;
  --accent: 140 40% 25%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 140 16% 18%;
  --input: 140 16% 18%;
  --ring: 142.1 70.6% 45.3%;
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
